.top{
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: none;
    height: 80px;
    width: auto;
    justify-content: space-between;
}

.sp{
    color: hotpink;
}
.nav ul li{
    display: inline-block;
    height: 100%;
    text-align: right;
    list-style: none;
    margin: 10px;
    padding: 0 5px;
}
.enrl{
    background-color: hotpink;
}

nav{
    text-align: right;
}
.par{
    color: hotpink;
    font-size: larger;
    font-weight: ;
}
.mor{
    width: 100%;
    align-items: center;
    margin-left: 30px;
    margin-right: 10px;
    
}
.moringa{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.innav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 0px;
    border-style: groove;

}
.innav{
    display: inline-block;
}
.s{
    background-color: hotpink;
    color: antiquewhite;
    padding: 4px;
}

#im1{
    float: right;
}

.right{
    float: right;
    width: 30%;
    height: 100px;
}
#im3{
    float: right;
}
.right2{
    float: right;
    width: 30%;
}
.tm{
    width: 150px;
    
}
.tms{
    text-align: justify;
}
.tmx{
    display: grid;
    display: flex;
    justify-content: space-evenly;
    

}
body{
    margin: 20px;
    padding: 20px;
}
.stories{
    margin-left: 300px;
    margin-right: 300px;
}

.graduation{
    margin-left: 300px;
    margin-right: 300px;  
}
.project cool{
    width: 200px;
    height: fit-content;
}
.album{
    background-color: hotpink;
    display: flexbox;
    width: fit-content;
}
.read{
    background-color: hotpink;
    display: block;
    width: fit-content;
}
.board .bi{
    width: 100px;
}
